chromadb==0.6.3
fitz==0.0.1.dev2
Flask==2.2.5
flask_cors==5.0.1
language_tool_python==2.9.0
Requests==2.32.3
scikit_learn==1.2.2
sentence_transformers==3.4.1
transformers==4.49.0
gunicorn==23.0.0
PyMuPDF==1.25.4
